.registration-container {
    text-align: center;
    padding: 5em 1em;
    max-width: 40%;
    margin: 0 auto;
    min-width: 20em;
}

h1, .registration-container h5 {
    font-weight: bold;
}

.registration-container .btn-custom {
    background-color: #DF7861;
    border-color: #DF7861;
    font-weight: bold;
}

.registration-tip {
    margin-top: 1rem;
}

.registration-tip a {
    text-decoration: none;
    font-weight: bold;
    color: #DF7861;
}