/* Styling for the container that contains the SearchPopup and ContentGrid elements */
.content-search-grid-container {
    position: relative;
    padding: 50px;
    overflow-y: hidden;
}

/* Additional styling for .content-search-grid-container on small screens */
@media only screen and (max-width: 850px) {
    .content-search-grid-container {
        padding: 50px 30px 50px 30px;
    }
}