html {
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
}

body {
  margin: 0;
  background-color: #FCF8E8;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* class for text that use the Dancing Script font */
.handwritten-text {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
}

.container-fluid {
  padding: 3.5rem 0rem 0rem 0rem;
}

.container-flex {
  display: flex;
}

.btn-custom:focus, input:focus, .form-select:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(223, 120, 97, 0.5);
  border-color: #DF7861;
}

.form-check input:checked {
  background-color: #DF7861;
  border: none;
}