.navbar-custom {
    background-color: #DF7861;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.navbar-flex {
    display: flex!important;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
}

.navbar-nav-items {
    display: flex!important;
    flex-basis: auto;
    flex-grow: 1;
    justify-content: space-between;
}

.navbar-nav-items ul {
    width: max-content;
    flex-direction: row;
    flex-grow: 0.5;
    justify-content: space-evenly;
}

.navbar-toggler {
    font-size: 1rem;
    padding: 0;
    line-height: 1.5;
    background-color: none;
    border: 0;
    border-radius: 0;
    transition: none;
}

.navbar-toggler:focus {
    -webkit-box-shadow: 0rem -0.1rem #FFFFFF inset;
    -moz-box-shadow: 0rem -0.1rem #FFFFFF inset;
    box-shadow: 0rem -0.1rem #FFFFFF inset;
}
  
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .nav-link {
    color: white;
}

.nav-item {
    margin: 0px 0.5rem;
}

.nav-item.active, #username-link.active {
    -webkit-box-shadow: 0rem -0.1rem #FFFFFF inset;
    -moz-box-shadow: 0rem -0.1rem #FFFFFF inset;
    box-shadow: 0rem -0.1rem #FFFFFF inset;
}

.nav-item:hover, #username-link:hover {
    -webkit-box-shadow: 0rem -0.1rem #FFFFFF inset;
    -moz-box-shadow: 0rem -0.1rem #FFFFFF inset;
    box-shadow: 0rem -0.1rem #FFFFFF inset;
}

.input-group {
    align-items: flex-start;
}

.search-bar {
    border-color: #ECB390;
}

.btn-search {
    background-color: #ECDFC8;
    border-color: #ECB390;
    padding: 0.375rem;
}

.nav-icon {
    width: 1.4em;
    height: 1.4em;
}

.navbar .float-end {
    max-width: 20%;
}

#user-info, .nav-icon-item {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
}

#user-icon {
    width: 2.3em;
    height: 2.3em;
    border-radius: 50%;
    margin: 0rem 0.5rem;
}

#user-info a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}